# Python bytecode files
__pycache__/
*.py[cod]
*$py.class
*.so

# Distribution / packaging
dist/
build/
*.egg-info/

# Virtual environments
.venv/
env/
ENV/

# IDE specific files
.vscode/
.idea/
*.swp
*.swo
*.mp3

# Logs
*.log

# Environment variables
.env 

**/migrations/versions/*
!**/migrations/versions/__init__.py

remarks/
vosk-model-ru-0.42/